<aside class="sidebar">
    <div class="sidebar-header">
      <a href="{{ url_for('library') }}" class="sidebar-logo">
        <img src="{{ url_for('static', filename='img/shiplog.png') }}" alt="Shiplog Logo">
      </a>
    </div>
    <nav class="fandom-nav">
        <ul>
            {% for fandom, relationships in sidebar_data|dictsort %}
                <li>
                    <details open>
                        <summary>{{ fandom }}</summary>
                        <ul class="relationship-list">
                            {% for relationship, fics in relationships|dictsort %}
                                <li>
                                    <a href="{{ url_for('library', fandom=fandom, relationship=relationship) }}">{{ relationship }} <span>{{ fics|length }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% else %}
                <li class="no-fics-message">
                    <span>Nenhuma fic na biblioteca.</span>
                    <a href="{{ url_for('add_fic') }}" class="btn btn-secondary btn-small">Adicionar</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>
