{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header %}Acesse sua Biblioteca{% endblock %}

{% block content %}
<div class="auth-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>Não tem uma conta? <a href="{{ url_for('register') }}">Registre-se</a></p>
</div>
{% endblock %}